/* google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #4285f4;
}
.wrapper{
    width: 370px;
    margin: 130px auto;
}
.select-btn, .options li{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.select-btn{
    height: 65px;
    padding: 0 20px;
    border-radius: 7px;
    background: #fff;
    font-size: 22px;
    justify-content: space-between;
    
}
.select-btn i{
    font-size: 31px;
}
.content{
    background: #fff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 7px;
}
.content .search{
    position: relative;
}
.search i{
    position: absolute;
    left: 15px;
    line-height: 53px;
    color: #999;
    font-size: 20px;
}
.search input{
    height: 53px;
    width: 100%;
    font-size: 17px;
    outline: none;
    font-size: 17px;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}
.content  .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
}

.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
}


.options li{
    height: 50px;
    border-radius: 5px;
    padding: 0 13px;
    font-size: 21px;
   
}
.options li:hover{
    background: #f2f2f2;
}